{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<!--Styles Block-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:300i&display=swap" rel="stylesheet">
{% endblock %}




{% block content %}

<div class="row registerPage" style="background-image:url('/static/navbar.jpeg')">
    <div class="col-sm-6 register">
        <div class="container registerForm">
            {{wtf.quick_form(register_form)}}
        </div>
    </div>
</div>
{% endblock %}