.holder{
    margin: 20px;
}
body {
    background-color: #DFE0E2;
}
.cardDisplay {
    display: flex;
    margin-top: 10px;
}

.pitchDetails {
    margin-left: 20px;
}
.username {
    font-size: 25px;
}
.footer {
    padding-left: 150px;
    padding-bottom: 10px;
}
.footer a {
    margin: 10px;
}
.date {
    float: right;
}