body,html {
    background-color: #DFE0E2;
    height: 100%;
    font-family: 'Roboto', sans-serif;

}
.pitchForm {
    margin-top: 100px;
}
.formImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:580px;
}
.containerForm {
    border:1px solid gray;
    width: 600px;
    border-radius: 10px;
    background-color: white;
}