body {
    background-color: #DFE0E2;
}
.profilePic {
    position: relative;
    width:100%;
}
.profileHeader{
    position: absolute;
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bio{
    width: 300px;


}
.holder{
    margin: 20px;
}

.cardDisplay {
    display: flex;
    margin-top: 10px;
}

.pitchDetails {
    margin-left: 20px;
}
.username {
    font-size: 25px;
}
.footer {
    padding-left: 150px;
    padding-bottom: 10px;
}
.footer a {
    margin: 10px;
}
.pitches{
    margin-top:70px;
}