body {
    background-color: #DFE0E2;
}
.bio{
    width: 300px;
    height: 150px;
    border: 1px solid grey;
    border-radius: 10px;
}
.holder{
    margin: 20px;
}

.cardDisplay {
    display: flex;
    margin-top: 10px;
}

.pitchDetails {
    margin-left: 20px;
}
.username {
    font-size: 25px;
}
.footer {
    padding-left: 150px;
    padding-bottom: 10px;
}
.footer a {
    margin: 10px;
}
.pitches{

}